html {
  overflow: hidden;
} /* 스크롤바를 없애기 위한 소스 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0; /* 기본 마진 제거 */
  color: white;
}
nav,
footer,
.circle {
  z-index: 1000; /* 헤더가 다른 요소들 위에 표시되도록 z-index 설정 */
}
.team-member-wrap {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 168, 2);

  position: relative;

  /* content 안에 담겨있는 내용물 가운데로 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-member-wrap:nth-child(even) {
  background-color: #ffa802;
}

/*=== 첫번째 페이지 ===*/
.content-goal {
  width: 900px;
  height: 700px;
  border-radius: 5px;
}
.contents-goal-title {
  padding: 0px 0px 20px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 60px;
}
.contents-items {
  display: grid;
  grid-template-columns: 450px 450px; /* 가로길이를 각각 300 300 2개로 나눈다.  */
  grid-template-rows: 250px 250px; /* 세로 길이를 200 200으로 두개로 나눈다. */
}
.item {
  padding: 10px 5px;
  margin: 0px 20px;
}
#item-3 {
  text-align: right;
}
#item-1, #item-4{
  background-color: white;
  border-radius: 10px;
}
#project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.moveBottomBtn {
  text-align: center;
  position: absolute;

  bottom: 20px; /* 버튼을 부모 요소의 아래에 붙임 */
  left: 50%;
  transform: translateX(-50%);
}
.arrow {
  height: 30px;
  width: 30px;
  filter: invert();
}
#down-arrow {
  position: relative;
  bottom: 20px;
}

/*===두번째 페이지===*/
.content-guide {
  width: 900px;
  height: 100%;
  position: relative;
  top: 170px;
}
.contents-guide-title {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding: 0px 0px 0px 30px;
  margin: 50px;
}
.guide-list {
  width: 700px;
  height: 500px;
  margin: 80px auto 40px auto;
  list-style-type: none;
  text-align: center;
}
.guide-item {
  width: 500px;
  height: 120px;
  margin: 30px auto 0px auto;
  border: 1px solid gray;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  display: grid;
  grid-template-columns: 100px 300px;
  grid-template-rows: 80px;
}
#book-img {
  width: 55px;
  height: 55px;
  padding-top: 30px;
}
.guide-item-text {
  text-align: left;
  color: black;
}
h3 {
  margin-bottom: 0px;
}
h5 {
  margin-top: 5px;
}
.moveTopBtn {
  text-align: center;
  position: absolute;

  bottom: 20px; /* 버튼을 부모 요소의 아래에 붙임 */
  left: 50%;
  transform: translateX(-50%);
}
#up-arrow {
  position: relative;
  bottom: 130px;
}
.circle {
  width: 20px;
  height: 20px;
  background-color: #ee9b00;
  border-radius: 100%;
  margin: 10px 50px 10px 10px;
  position: absolute;
  right: 0%;
  top: 45%;
}
#two {
  position: absolute;
  right: 0%;
  top: 50%;
}
#three {
  position: absolute;
  right: 0%;
  top: 145%;
}
#four {
  position: absolute;
  right: 0%;
  top: 150%;
}
